{% if site.resume_section_interests %}
<!-- begin Interests -->
<section class="content-section">

  <header class="section-header">
    <h2>Interests</h2>
  </header>

  <div class="resume-item">
      {% for interest in site.data.interests %}

      <h3 style="margin: 5px;">{{ interest.heading }}</h3>
      
      <ul class="resume-item-list" style="margin: 5px;">
        {% for subheading in interest.subheading %}
        <li>{{ subheading }}</li>
        {% endfor %}
      </ul>

      {% endfor %}
  </div>

</section>
<!-- end Interests -->
{% endif %}
