<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      {% include resume/basic_info.html %}

      {% include resume/experience.html %}

      {% include resume/education.html %}

      {% include resume/projects.html %}

      {% include resume/skills.html %}

      {% include resume/recognition.html %}

      {% include resume/associations.html %}

      {% include resume/interests.html %}

      {% include resume/links.html %}

      <!-- <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
        <p class="footer-line">If this is your live resume, you can modify or remove this part. ;-)</p>
      </footer> -->

    </div>

  </body>

</html>
